    #banner{
        width: 100%;
    }
    
    .principal{
        margin: 5%;
    }

    .texto{
        color: #c6baac;
    }

    h1{
        text-align: center;
        font-size: 50px; 
    }

    .box{
        display: flex;
    }

    body{
        background: #1e1c32;
        display: block;
        font-size: 30px;
    }

    
    .amigos{
        display: flex;
          
    }

    .margin{
        margin-left: 2%;
        margin-right: 2%;
        max-width: 150px;
        max-height: 150px;
        
    }

    a{
        color: #cea16d; 
        text-decoration: none;
         
    }

    h2{
        text-align: center;
        font-size: 50px; 
    }

    .redes{
        margin-left: 5%;
    }
