    #banner{
        width: 100%;
    }

    body{
        background: #1e1c32;
        font-size: 30px;
        color: #c6baac;

    }

    a{
        color: rgb(202, 100, 16);
        text-decoration: none;   
    }

    main{
        margin: 10px 7%;
    }

    h1{
        text-align: center;
        font-size: 50px; 
    }

    .bruh{
        display:inline-flex ;
    }

    .bruh img, .amigos img{
        height: 150px;
        margin: 10px;
    }

    .amigos{
        display: inline-flex;   
        margin: 40px 0;
    }

    .amigos img{
        text-align: top;
        float: left
    }

    footer{
        background: url(gatoLM.jpg);
        height: 400px;
        color: black;
        text-align: center;
    }

    footer p{
        margin: 50px;
        color: black;
    }