    h1
    {
        color: #c6baac;
        text-aling: center;
    }
    img
    {
        max-width: 150px;
        max-height: 150px;
    }
    .box
    {
        
        display: flex;
    }

    body
    {
        background: #1e1c32;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    p
    {
        color: #c6baac;
        font-size: 30px;
    }
    .amigos
    {
        display: flex;
        
    }
